<ion-view  view-title="Bands Filter by">
 
 <ion-content>
	 
	<div class="button-bar">
	  <a class="button" href="app.bandlist(start: A)">A</a>
	  <a class="button" href="app.bandlist(start: B)">B</a>
	  <a class="button" href="app.bandlist(start: C)">C</a>
	  <a class="button" href="app.bandlist(start: D)">D</a>
	  <a class="button" href="app.bandlist(start: E)">E</a>
	</div>

	<div class="button-bar">
	  <a class="button" href="app.bandlist(start: F)">F</a>
	  <a class="button" href="app.bandlist(start: G)">G</a>
	  <a class="button" href="app.bandlist(start: H)">H</a>
	  <a class="button" href="app.bandlist(start: I)">I</a>
	  <a class="button" href="app.bandlist(start: J)">J</a>
	</div>

	<div class="button-bar">
	  <a class="button" href="app.bandlist(start: K)">K</a>
	  <a class="button" href="app.bandlist(start: L)">L</a>
	  <a class="button" href="app.bandlist(start: M)">M</a>
	  <a class="button" href="app.bandlist(start: N)">N</a>
	  <a class="button" href="app.bandlist(start: O)">O</a>
	</div>
	 
	<div class="button-bar">
	  <a class="button" href="app.bandlist(start: P)">P</a>
	  <a class="button" href="app.bandlist(start: Q)">Q</a>
	  <a class="button" href="app.bandlist(start: R)">R</a>
	  <a class="button" href="app.bandlist(start: S)">S</a>
	  <a class="button" href="app.bandlist(start: T)">T</a>
	</div>
	 
	<div class="button-bar">
	  <a class="button" href="app.bandlist(start: U)">U</a>
	  <a class="button" href="app.bandlist(start: V)">V</a>
	  <a class="button" href="app.bandlist(start: W)">W</a>
	  <a class="button" href="app.bandlist(start: X)">X</a>
	  <a class="button" href="app.bandlist(start: Y)">Y</a>
	</div>

	<div class="button-bar">
	  <a class="button" href="app.bandlist(start: Z)">Z</a>
	  <a class="button" href="app.bandlist(start: 1)">#</a>
	</div>
  
  </ion-content>
</ion-view>
