<ion-view  view-title="Bands">
 
 <ion-content>
	 
	<div class="button-bar">
	  <a class="button" href="#/app/band/A">A</a>
	  <a class="button" href="#/app/band/B">B</a>
	  <a class="button" href="#/app/band/C">C</a>
	  <a class="button" href="#/app/band/D">D</a>
	  <a class="button" href="#/app/band/E">E</a>
	</div>

	<div class="button-bar">
	  <a class="button" href="#/app/band/F">F</a>
	  <a class="button" href="#/app/band/G">G</a>
	  <a class="button" href="#/app/band/H">H</a>
	  <a class="button" href="#/app/band/I">I</a>
	  <a class="button" href="#/app/band/J">J</a>
	</div>

	<div class="button-bar">
	  <a class="button" href="#/app/band/K">K</a>
	  <a class="button" href="#/app/band/L">L</a>
	  <a class="button" href="#/app/band/M">M</a>
	  <a class="button" href="#/app/band/N">N</a>
	  <a class="button" href="#/app/band/O">O</a>
	</div>
	 
	<div class="button-bar">
	  <a class="button" href="#/app/band/P">P</a>
	  <a class="button" href="#/app/band/Q">Q</a>
	  <a class="button" href="#/app/band/R">R</a>
	  <a class="button" href="#/app/band/S">S</a>
	  <a class="button" href="#/app/band/T">T</a>
	</div>
	 
	<div class="button-bar">
	  <a class="button" href="#/app/band/U">U</a>
	  <a class="button" href="#/app/band/V">V</a>
	  <a class="button" href="#/app/band/W">W</a>
	  <a class="button" href="#/app/band/X">X</a>
	  <a class="button" href="#/app/band/Y">Y</a>
	</div>

	<div class="button-bar">
	  <a class="button" href="#/app/band/Z">Z</a>
	  <a class="button" href="#/app/band/1">#</a>
	</div>
  
  </ion-content>
</ion-view>
