<ion-view class="people-viewx"  view-title="All">
 
 <ion-content>
 

  <div class="list">
  
  
  
	<a class="item item-avatar item-icon-right" ng-href="#/app/band-profile/{{ band.ID}}" ng-repeat="band in bandlist">
		<img ng-src="{{band.thumb}}">
		<h2>{{band.name}}</h2>
		<i class="icon ion-ios-arrow-forward"></i>
		<p>{{band.genre}}</p>
    </a>
  </div>


<!-- 

            <a ui-sref="app.band.profile({bandID: band.ID})">
              <pre-img ratio="_1_1" helper-class="square-image">
                <img class="user-image" ng-src="{{band.thumb}}" spinner-on-load>
              </pre-img>
            </a>
     -->
  
  </ion-content>
</ion-view>
