<ion-view class="feed-view pane filtered-feed" >
  <ion-content>
  
  
  
  
  <div class="row filtered-feed-header-outer">
  Gigs Info
  
  
	<div class="col filtered-feed-header">
		<div class="col filtered-feed-header" ng-init="bg_img = band.thumb">
		
			<div multi-bg="[band.thumb]" interval="3000" helper-class="category-with-image">
			  <div class="filtered-feed-header-content">
				<h2 class="header-title">{{band.name}}</h2>
			  </div>
			</div>
		</div>
  
  {{band.thumb}}
	</div>
  </div>
  
  
  
  <ion-content>
</ion-view>