<ion-view class="gigs-view-latest"  view-title="Gigs Sked">


<div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
    <div class="tabs">
      <a class="tab-item"  menu-close href="#/app/gigs">
        
        Upcoming
      </a>
      <a class="tab-item active"  menu-close href="#">
        Latest Added
      </a>
      <a class="tab-item"  menu-close href="#/app/gigspast">
        Past Events
      </a>
    </div>
  </div>
  
  
  
  <ion-content overflow-scroll="true">
  
  <div class="item item-divider ng-if="{{gigs !== null}}"">
    Latest Added Gigs
  </div>
  
<div class="list" ng-repeat="gigs_up in gigs" >

  <div class="item item-image"><a href="#/app/gigs/{{ gigs_up.id}}">
    <pre-img ratio="_1_1" helper-class="main-image">
        <img ng-src="{{gigs_up.thumb}}" spinner-on-load>
    </pre-img></a>
  </div>
  <div class="item item-body">
	<h2><a href="#/app/gigs/{{ gigs_up.id}}">{{gigs_up.title}}</a></h2>
  
    <p><i class="icon ion-ios-calendar"></i> {{gigs_up.date_before}}</p>
    <p><i class="icon ion-ios-location"></i> {{gigs_up.venue}},{{gigs_up.city}}</p>
    <p><i class="icon ion-ios-mic"></i> {{gigs_up.bands}}</p>
     
  </div>
  

</div>

  </ion-content>
  
  
</ion-view>
